*
!.gitignore

!scripts
!scripts/*

# .config/
!.config

!.config/alacritty
!.config/alacritty/*

!.config/hypr
!.config/hypr/*
!.config/hypr/config
!.config/hypr/config/*
.config/hypr/hyprpaper.conf

#uhhh
!.config/nvim
!.config/nvim/*
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/config
!.config/nvim/lua/config/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
!.config/nvim/lua/plugins/dashboard
!.config/nvim/lua/plugins/dashboard/*
!.config/nvim/lua/plugins/lsp
!.config/nvim/lua/plugins/lsp/*
!.config/nvim/lua/plugins/nvchad
!.config/nvim/lua/plugins/nvchad/*
!.config/nvim/lua/plugins/style
!.config/nvim/lua/plugins/style/*
!.config/nvim/lua/plugins/themes
!.config/nvim/lua/plugins/themes/*
!.config/nvim/lua/plugins/utility
!.config/nvim/lua/plugins/utility/*
!.config/nvim/lua/utils
!.config/nvim/lua/utils/*

!.config/swaync
!.config/swaync/*
!.config/swaync/scripts
!.config/swaync/scripts/*

!.config/wallpaper
!.config/wallpaper/*

!.config/waybar
!.config/waybar/*
!.config/waybar/scripts
!.config/waybar/scripts/*

!.zshrc
!starship.toml


# extensions/temp files
*.bak
nohup.out
