.widget-buttons-grid {
  /*background-color: black;*/
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  color: white;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked{
  background-color: black;
  color: white;
}

